In [2]:
#LiZiweiAsn2 - A
import sqlite3 as sql
import pandas as pd
connection = sql.Connection('dj.db')
cursor = connection.cursor()
ord1 = 'SELECT id, ticker, name FROM tickers'
cursor.execute(ord1)
rows = cursor.fetchall()
df = pd.DataFrame(rows)
df.columns = ['id','ticker','name']
df.set_index('id',inplace = True)
df

   ticker                                         name
id
1       M                                   Macy's Inc
2     AXP                     American Express Company
3    AAPL                                   Apple Inc.
4      BA                           The Boeing Company
5     CAT                             Caterpillar Inc.
6     CVX                          Chevron Corporation
7    CSCO                           Cisco Systems Inc.
8      KO                      Coca-Cola Company (The)
9     DIS                      The Walt Disney Company
10    DOW                                     Dow Inc.
11    XOM                      Exxon Mobil Corporation
12     GS               Goldman Sachs Group Inc. (The)
13     HD                        Home Depot Inc. (The)
14    IBM  International Business Machines Corporation
15   INTC                            Intel Corporation
16    JNJ                            Johnson & Johnson
17    JPM                        JP Morgan Chase & Co.
18    MCD                       McDonald's Corporation
19    MRK                   Merck & Company Inc. (new)
20   MSFT                        Microsoft Corporation
21    NKE                                    Nike Inc.
22    PFE                                  Pfizer Inc.
23     PG               Procter & Gamble Company (The)
24    TRV                 The Travelers Companies Inc.
25    UTX              United Technologies Corporation
26    UNH         UnitedHealth Group Incorporated (DE)
27     VZ                  Verizon Communications Inc.
28      V                                    Visa Inc.
29    WMT                                 Walmart Inc.
30    WBA                Walgreens Boots Alliance Inc.

In [3]:
#LiZiweiAsn2 - B

connection = sql.Connection('dj.db')
cursor = connection.cursor()
ord2 = 'SELECT min(date) as first, max(date) as last FROM daily_measures'
cursor.execute(ord2)
rows2 = cursor.fetchall()
df2 = pd.DataFrame(rows2)
df2.columns = ['earliest date','latest date']
df2.index = ['']

df2

 earliest date latest date
    2017-01-03  2017-12-29

In [4]:
#LiZiweiAsn2 - C

connection = sql.Connection('dj.db')
cursor = connection.cursor()
ord3 = 'SELECT date, closing FROM daily_measures WHERE ticker_id=3 ORDER BY date'
cursor.execute(ord3)
rows3 = cursor.fetchall()
df3 = pd.DataFrame(rows3)
highest_price = df3.loc[:,1].max()
df_higPrice = df3.loc[df3[1]==highest_price]
df_higPrice.columns = ['date','price']
df_higPrice.index = ['']

df_higPrice

        date   price
  2017-12-18  176.42

In [25]:
#LiZiweiAsn2 - D
connection = sql.Connection('dj.db')
cursor = connection.cursor()
ord4 = 'SELECT date, closing FROM daily_measures WHERE ticker_id=3 ORDER BY date'
cursor.execute(ord4)
rows4 = cursor.fetchall()
df4 = pd.DataFrame(rows4)
df4.columns = ['date','closing']
price = df4['closing'].tolist()
price_perc_moves = []
for i in range(1,len(price)):
    percentMove = (price[i]-price[i-1])/price[i-1]
    price_perc_moves.append(percentMove)
price_perc_moves.append(0.00)
#print(len(price))
#print(len(price_perc_moves))
df4['price percentage moves'] = price_perc_moves   
df4['price percentage moves'] = df4['price percentage moves'].apply(lambda x: format(x, '.2%'))
df4

           date     closing price percentage moves
0    2017-01-03  114.715378                 -0.11%
1    2017-01-04  114.586983                  0.51%
2    2017-01-05  115.169696                  1.11%
3    2017-01-06  116.453639                  0.92%
4    2017-01-09  117.520300                  0.10%
5    2017-01-10  117.638817                  0.54%
6    2017-01-11  118.270913                 -0.42%
7    2017-01-12  117.777088                 -0.18%
8    2017-01-13  117.569682                  0.81%
9    2017-01-17  118.517825                 -0.01%
10   2017-01-18  118.507948                 -0.18%
11   2017-01-19  118.300542                  0.18%
12   2017-01-20  118.517825                  0.07%
13   2017-01-23  118.596837                 -0.09%
14   2017-01-24  118.488195                  1.59%
15   2017-01-25  120.374604                  0.05%
16   2017-01-26  120.433863                  0.01%
17   2017-01-27  120.443739                 -0.26%
18   2017-01-30  120.127692                 -0.23%
19   2017-01-31  119.851150                  6.10%
20   2017-02-01  127.159749                 -0.17%
21   2017-02-02  126.942467                  0.43%
22   2017-02-03  127.485673                  0.94%
23   2017-02-06  128.680728                  0.95%
24   2017-02-07  129.905412                  0.39%
25   2017-02-08  130.409113                  0.72%
26   2017-02-09  131.347379                 -0.23%
27   2017-02-10  131.049809                  0.89%
28   2017-02-13  132.210332                  1.30%
29   2017-02-14  133.926319                  0.36%
..          ...         ...                    ...
219  2017-11-16  171.100000                 -0.56%
220  2017-11-17  170.150000                 -0.10%
221  2017-11-20  169.980000                  1.86%
222  2017-11-21  173.140000                  1.05%
223  2017-11-22  174.960000                  0.01%
224  2017-11-24  174.970000                 -0.50%
225  2017-11-27  174.090000                 -0.59%
226  2017-11-28  173.070000                 -2.07%
227  2017-11-29  169.480000                  1.40%
228  2017-11-30  171.850000                 -0.47%
229  2017-12-01  171.050000                 -0.73%
230  2017-12-04  169.800000                 -0.09%
231  2017-12-05  169.640000                 -0.37%
232  2017-12-06  169.010000                  0.26%
233  2017-12-07  169.452000                 -0.05%
234  2017-12-08  169.370000                  1.95%
235  2017-12-11  172.670000                 -0.56%
236  2017-12-12  171.700000                  0.33%
237  2017-12-13  172.270000                 -0.03%
238  2017-12-14  172.220000                  0.96%
239  2017-12-15  173.870000                  1.47%
240  2017-12-18  176.420000                 -1.07%
241  2017-12-19  174.540000                 -0.11%
242  2017-12-20  174.350000                  0.38%
243  2017-12-21  175.010000                  0.00%
244  2017-12-22  175.010000                 -2.54%
245  2017-12-26  170.570000                  0.02%
246  2017-12-27  170.600000                  0.28%
247  2017-12-28  171.080000                 -1.08%
248  2017-12-29  169.230000                  0.00%

[249 rows x 3 columns]